@use '../variables';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: variables.$pink;
    height: 60px;
    border: none;
    border-radius: 30px;
    padding: 0 75px 0 75px;
    width: fit-content;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: variables.$active-color;

    }

    &--icon {
        background: none;
        height: 80px;
        width: 80px;
        padding: 0;
        border-radius: 100%;
    }
}