@use '../variables';

.short-catalog {
    background-color: variables.$light-pink;
    width: 100%;

    &__list {
        display: flex;
        margin-left: variables.$large-width-margin;
        width: variables.$large-width;
    }

    &__item {
        width: 25%;
    }
}