@use 'variables';
@use 'blocks/header';
@use 'blocks/button';
@use 'blocks/banner';
@use 'blocks/short-catalog';


html {
    font-family: 'Comfortaa';
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
}