// Цвета
$main-dark-text: black;
$main-light-text: white;
$active-color: rgb(233, 233, 233);
$pink: #EA7EA0;
$light-pink: #FFD5DC;
$grey: #D9D9D9;

// Размеры для адаптива
$large-width: 1440px;
$large-width-margin: calc((100vw - 1440px) / 2);